* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-color: cornsilk;
    font-family: a, b, c, d;
  }
  
  .todo:hover .trash-icon {
    display: block;
  }